html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  background: rgb(255, 255, 255);
  font-family: "TTLakes", sans-serif;
  font-weight: 500;
  margin: 0;
  padding-left: 24px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px 0 0;
  align-items: center;
  margin-bottom: 50px;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 17px;
}
.round-icon {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-size: cover;
}
.roind-icon--close {
  background-image: url(../images/ic_burger_active.svg);
}
.header__logo-img {
  align-self: center;
}
.roind-icon--search {
  background-image: url(../images/ic_search.svg);
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 16px;
}
.navigation__elems {
  transition-duration: 0.4s;
}
.navigation__elems::before {
  content: "";
  position: absolute;
  transform: translateX(-24px) translateY(-5px);
  width: 4px;
  height: 32px;
  background: rgb(65, 246, 215);
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  opacity: 0;
}
.navigation__elems:hover {
  color: rgb(126, 126, 130);
}
.navigation__elems:hover::before {
  opacity: 1;
  transition-duration: 0.5s;
}
.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 32px;
  justify-content: space-around;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}
.footer__icons {
  display: flex;
  gap: 16px;
}
.round-icon--call {
  background-image: url(../images/ic_call.svg);
}
.round-icon--chat {
  background-image: url(../images/ic_chat.svg);
}
.round-icon--profile {
  background-image: url(../images/ic_profile.svg);
}
.email {
  line-height: 24px;
}
.number {
  font-weight: bold;
  font-size: 24px;
}
.lang-switcher {
  display: flex;
  gap: 7px;
}
.lang-switcher__elem {
  font-family: "TTLakes", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition-duration: 0.5s;
}
.lang-switcher__elem:hover {
  color: rgb(126, 126, 130);
}
